/*
==================
🎨 COLORS USED. 🎨
==================
TBD
=================
ℹ️ FONTS USED. ℹ️
=================
TBD
*/
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	background-color: rgb(154, 154, 154);
	color: rgb(10, 23, 136);
	font-family: 'Courier New', Courier, monospace;
	margin: 0 auto;
	text-align: center;
}

.pokemon-list {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(225px, 1fr));
	grid-auto-rows: max-content;
	list-style: none;
	width: 90vw;
	grid-gap: 1vw;
	margin: 0 auto;
}

.pokemon-button {
	font-family: 'Courier New', Courier, monospace;
	font-size: 2em;
	font-weight: bold;
	padding: 10px;
	width: 100%;
	min-width: 150px;
	border: 8px solid rgb(12, 42, 164);
	border-radius: 10px;
	background: rgb(249, 240, 67);
	color: rgb(12, 42, 164);
	cursor: pointer;
	word-wrap: none;
	box-sizing: border-box;
}

.pokemon-button:hover {
	color: rgb(243, 97, 97);
	border-color: rgb(230, 50, 50);
}

.modal {
	color: black;
	background-color: rgb(240, 213, 180);
	border-radius: 25px;
	width: 80vw;
	height: 60vh;
	margin: auto;
	display: grid;
	grid-template-rows: auto auto 1fr auto;
	gap: 20px;
	text-align: center;
	overflow: scroll;
	position: relative;
}

.modal-id {
	font-size: 2em;
	grid-row: 1;
	max-width: fit-content;
	position: absolute;
	top: 10px;
	left: 10px;
}

.pokemon-image {
	display: block;
	margin: 0 auto;
	border: 10px solid rgb(255, 255, 255);
}

.pokemon-name {
	grid-row: 1;
	margin: 10px auto;
	max-width: fit-content;
}

.modal-close {
	grid-row: 1;
	position: absolute;
	top: 10px;
	right: 10px;
	cursor: pointer;
	transition: color 0.3s, transform 0.3s;
}

.modal-close:hover {
	transform: rotate(90deg);
}

.close-btn-svg {
	color: blueviolet;
	transition: stroke 0.3s;
}

.close-btn-svg:hover {
	stroke: yellow;
}

#modal-container {
	display: none;
}

#modal-container.is-visible {
	position: fixed;
	padding: 20px;
	box-sizing: border-box;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.5);
	z-index: 999;
	overflow: auto;
	display: grid;
	text-align: center;
}

@media (max-width: 768px) {

	.pokemon-image {
		height: auto;
		max-height: 40vh;
	}

	.modal .id,
	.modal .modal-close,
	.modal .modal-title {
		grid-column: 1;
	}

	.modal .modal-title {
		grid-column: 1 / -1;
	}

	.pokemon-button {
		font-size: 2em;
		max-width: 225px;
	}
}