/*
==================
🎨 COLORS USED. 🎨
==================
TBD
=================
ℹ️ FONTS USED. ℹ️
=================
TBD
*/
* {
	box-sizing: border-box;
}

body {
	background-color: rgb(154, 154, 154);
	color: rgb(10, 23, 136);
	font-family: 'Courier New', Courier, monospace;
	margin: 0 auto;
	text-align: center;
}

ul {
	display: grid;
	grid-template-columns: 1fr;
	list-style: none;
	padding: 0;
	max-width: 80vw;
	margin: 0 auto;
}

.pokemon-button {
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	font-size: 2em;
	font-weight: bold;
	padding: 10px;
	margin: 10px;
	border: 8px solid rgb(12, 42, 164);
	border-radius: 10px;
	background: rgb(180, 140, 255);
	color: rgb(12, 42, 164);
	cursor: pointer;
}

.pokemon-button:hover {
	background-color: rgb(97, 243, 170);
}